<%- include('../partials/header') %>

  <h1>Skill Details</h1>
  <p>Skill Name: <%= skill.name %></p>
  <p>Experience Level: <%= skill.experience %></p>

  <a href="/skills">Skill List</a>
  <a href="/">Back to Homepage</a>

<%- include('../partials/footer') %>