<!DOCTYPE html>
<html>
<head>
  <title>Skill Details</title>
</head>
<body>
  <h1>Skill Details</h1>
  <p>Skill Name: <%= skill.name %></p>
  <p>Experience Level: <%= skill.experience %></p>
</body>
</html>